<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>__project__name Sign-up</title>
</head>

<div layout:fragment="content">
    <div class="container-fluid">

        <div class="alert alert-danger" role="altert"
             th:if="${registrationError != null}" th:text="${registrationError}"/>

        <form action="#" id="userSignup" th:action="@{/register}" th:object="${userDto}" method="post">
            <div class="form-group row">
                <label for="firstName" class="col-sm-2 col-form-label">First Name</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name"
                           th:field="*{firstName}" th:value="${userDto.firstName}">
                    <p class="text-danger"
                       th:each="error: ${#fields.errors('firstName')}" th:text="${error}">Validation error
                    </p>
                </div>
            </div>

            <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                           th:field="*{lastName}" th:value="${userDto.lastName}">
                    <p class="text-danger"
                       th:each="error: ${#fields.errors('lastName')}" th:text="${error}">Validation error
                    </p>
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" placeholder="Email"
                           th:field="*{email}" th:value="${userDto.email}">
                    <small>A confirmation code will be sent to this email.</small>
                    <p class="text-danger"
                       th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error
                    </p>
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Password</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           th:field="*{password}" th:value="${userDto.password}">
                    <p class="text-danger"
                       th:each="error: ${#fields.errors('password')}" th:utext="${error}">Validation error
                    </p>
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Password Confirmation</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" id="passwordConfirmation" placeholder="Password"
                           th:field="*{passwordConfirmation}" th:value="${userDto.passwordConfirmation}">
                </div>
                <p class="text-danger"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error</p>
            </div>

            <button class="btn btn-primary" type="submit" name="action">Submit
            </button>
        </form>
    </div>
</div>
